@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');

nav {
    width: 100%;
    font-family: 'Playfair Display', serif;
    display:inline-block;
}

.nav-right {
    float: right;
}

.nav-item {
    display: inline-block;
    padding: 10px;
}

footer {
    background-color: orange;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-column {
    float: left;
    width: 50%;
}

aside img {
    width: 100%;
    height: 100%;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Cinzel', serif;
}

* {
    box-sizing: border-box;
}

input [type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 12px;
    resize: vertical;
}

input[type=submit] {
    background-color: orange;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e28f00;
}

.container {
    border-radius: 3px;
    background-color: #ececec;
    padding: 15px;
}

.about-aside {
    line-height: 300%;
}

.index-event {
    line-height: 300%;
}